<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <clear/>
        <add 
          name="traceListener" 
          type="System.Diagnostics.TextWriterTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
          initializeData="c:\TotalCmd\DotNetPlugin.log" />
      </listeners>
    </trace>
    <switches>
      <!-- This switch controls .NET plugin tracing. 
           Set this value to the appropriate level: 
             "0" (or "Off")     - no traces, 
             "1" (or "Error")   - plugin errors, 
             "2" (or "Warning") - most important plugin operations, 
             "3" (or "Info")    - more plugin operations,
             "4" (or "Verbose") - all plugin operations -->
      <add name="DotNetPlugins" value="3" />
    </switches>
  </system.diagnostics>
</configuration>