name: .NET Windows

on: [push]

jobs:

  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x

    # Execute all unit tests
    - name: Execute unit tests
      run: dotnet test

    # Restore
    - name: Restore the application
      run: dotnet restore

    # Create
    - name: Build
      run: dotnet build -c Release

    # Publish
    - name: Publish
      run: |
          dotnet publish ./src/TotalCommander.DockerPlugin/TotalCommander.DockerPlugin.csproj -c Release -o publish/docker/x64 -r win-x64
          dotnet publish ./src/TotalCommander.DockerPlugin/TotalCommander.DockerPlugin.csproj -c Release -o publish/docker/x86 -r win-x86

          dotnet publish ./src/TotalCommander.KubernetesPlugin/TotalCommander.KubernetesPlugin.csproj -c Release -o publish/k8s/x64 -r win-x64
          dotnet publish ./src/TotalCommander.KubernetesPlugin/TotalCommander.KubernetesPlugin.csproj -c Release -o publish/k8s/x86 -r win-x86

    # Artifacts
    - name: Docker release artifacts
      uses: actions/upload-artifact@v4
      with:
        name: docker
        path: |
          publish/docker/**/*.wfx*
          publish/docker/**/pluginst.inf

    - name: Kubernetes release artifacts
      uses: actions/upload-artifact@v4
      with:
        name: kubernetes
        path: |
          publish/k8s/**/*.wfx*
          publish/k8s/**/pluginst.inf
